.csd headerbar { min-height: 42px;}

headerbar windowcontrols button.close image:hover {
	background-color: #5294e2;
}

headerbar GtkWindowControls button.close image:hover {
    background-color: #5294e2;
}
